{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pin Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;PinCollector</a></li>
          
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'categories_create' %}">Add a Category</a></li>
          <li><a href="{% url 'categories_index' %}">View All Categories</a></li>
          <li><a href="{% url 'pins_create' %}">Add Pin</a></li>
          <li><a href="{% url 'index' %}">View All My Pins</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer black">
    <div class="right">All Rights Reserved, &copy; 2019 Pin Collector &nbsp;</div>
  </footer>
</body>
</html>